.heart__button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.heart__button:hover .heart__icon {
  color: #9400d3;
  cursor: pointer;
}

.lightThemeIcon {
  color: var(--light-theme-color);
}

.darkThemeIcon {
  color: var(--dark-theme-color);
}
