.cart__button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
}

.cart__button:hover .cart__icon {
  color: #ff8c00;
  cursor: pointer;
}

.lightThemeIcon {
  color: var(--light-theme-color);
}

.darkThemeIcon {
  color: var(--dark-theme-color);
}
