.button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 30px;
}

.button:hover .theme {
  color: #9400d3;
  cursor: pointer;
  transition: 0.3s;
}

.lightTheme {
  background: var(--light-theme-background);
  color: var(--light-theme-color);
}

.darkTheme {
  background: var(--dark-theme-background);
  color: var(--dark-theme-color);
}

.lightThemeIcon {
  color: var(--light-theme-color);
}

.darkThemeIcon {
  color: var(--dark-theme-color);
}
