.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
}

.button:hover .icon {
  color: #9400d3;
  cursor: pointer;
}

.lightThemeIcon {
  color: var(--light-theme-color);
}

.darkThemeIcon {
  color: var(--dark-theme-color);
}

.button__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}
